[Unit]
Description=Dr. Saab Website Checker

[Service]
Type=oneshot
User=saab
ExecStart=/usr/bin/saab_website_updates.py /etc/saab-config.yaml
RemainAfterExit=false


[Install]
WantedBy=multi-user.target


